body {
    display:flex;
    justify-content:space-around;
    background-color: #282c34;
    color: white;
    padding: 2%;
    font-family: Arial;
    text-align: center;
  }
  
.Article{
    border: 5px solid rgb(131, 127, 127);
    margin: 5px;
    color:#c7cacf;
    min-width:20vw;
    max-width:40vw;
    flex-grow:1;
  }
    a:link{
    text-decoration: none;
    color:#ffffff;
  }
  a:visited {
    text-decoration: none;
    color:#ffffff;
  }

  .AllArticles{
    padding: 0px;
    margin:auto;
    display:flex;
    background-color: #282c34;
    color: white;
    font-family: Arial;
    overflow-y:auto;
    flex-flow:wrap;
    justify-content: space-between;
  }